{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>StudyBee Templates</title>
    <meta name="viewport" content="initial-scale=1, width=device-width"/>

    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static "features/common.css" %}">
    <link rel="stylesheet" href="{% static "features/wrap/main.css" %}">
    <link rel="stylesheet" href="{% static "features/grid/main.css" %}">
    <link rel="stylesheet" href="{% static "features/navbar/main.css" %}">
    <link rel="stylesheet" href="{% static "features/dropmenu/main.css" %}">
    <!-- <link rel="stylesheet" href="{% static "features/dropmenu/simple.css" %}"> -->
    <link rel="stylesheet" href="{% static "features/table/main.css" %}">
    <link rel="stylesheet" href="{% static "features/button/main.css" %}">
    <link rel="stylesheet" href="{% static "features/articlebox/main.css" %}">
    <link rel="stylesheet" href="{% static "features/main.css" %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
    <!-- <script src="features/table/js/sortTable.js"></script> -->
</head>
<body>
<div class="sb-wrap">
    <header>
        <div class="sb-grid">
            <h1><b>S<b>tudy<b>B<b>ee <b>T</b>em<b>p</b>late</h1>
        </div>
    </header>
    {% block content %}
    {% endblock %}
</div>
</body>
</html>
<script>
    var table = $('.sb-table-custom').sortTable();
    //for example
    table[0].action();
</script>
