.sb-dropmenu {
    color: #337ab7;
    width: 40%;
    border-radius: 10px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
}

.sb-dropmenu > li {
    height: 40px;
    line-height: 20px;
    padding: 10px;
    box-sizing: border-box;
    border-width: 1px 1px 0px 1px;
    border-style: solid;
    border-color:  rgb(130, 130, 130);
    position: relative;
}

.sb-dropmenu > li:last-child {
    border-width: 1px 1px 1px 1px;
}

.sb-dropmenu > li:hover {
    background-color: #4169e1;
    color: #fff
}

.sb-dropmenu > li > div {
    width: 80%;
    display: inline-block;
    white-space:nowrap;
    text-overflow:ellipsis;
    overflow:hidden;
}
.sb-dropmenu > li > i {
    position: absolute;
    right: 5px;
}

.sb-dropmenu.sb-dropmenu-dark > li {

    color: #ffffff;
    box-shadow: inset 0 0 3px #000000;
    -moz-box-shadow: inset 0 0 3px #000000;
    -webkit-box-shadow: inset 0 0 3px #000000;
    background: #070707;
    background: -moz-linear-gradient(top, #262626 0%, #070707 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #262626), color-stop(100%, #070707));
    background: -webkit-linear-gradient(top, #262626 0%, #070707 100%);
    background: -o-linear-gradient(top, #262626 0%, #070707 100%);
    background: -ms-linear-gradient(top, #262626 0%, #070707 100%);
    background: linear-gradient(to bottom, #262626 0%, #070707 100%);
}