.sb-navbar.sb-navbar-simple {
    border-radius: 10px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;

}

.sb-navbar.sb-navbar-simple > li {
    margin: 0;
    border: none;
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    box-shadow: inset 2px 0px 0px 0px rgba(0, 0, 0, 0.2);

}